<template>
  <div id="no-projects">
    <div id="illustration" class="text-center p-6">
<svg width="430" height="267" viewBox="0 0 430 267" xmlns="http://www.w3.org/2000/svg" class="d-inline-block">
  <title>
    operations-metrics_empty
  </title>
  <g fill="none" fill-rule="evenodd">
    <path d="M346.539 251.829a2 2 0 0 1-3.987.33 130.604 130.604 0 0 0-.886-7.834 2 2 0 1 1 3.96-.57c.384 2.675.689 5.367.913 8.074z" fill="#C3B8E3"/>
    <path d="M342.34 227.845a2 2 0 1 1-3.861 1.046 128.974 128.974 0 0 0-2.294-7.54 2 2 0 0 1 3.79-1.281 132.973 132.973 0 0 1 2.364 7.775z" fill="#EFEDF8"/>
    <path d="M333.85 205.033a2 2 0 1 1-3.606 1.732 129.49 129.49 0 0 0-3.624-6.99 2 2 0 0 1 3.494-1.949 133.49 133.49 0 0 1 3.736 7.207z" fill="#E1DBF1"/>
    <path d="M321.334 184.115a2 2 0 1 1-3.231 2.357 130.498 130.498 0 0 0-4.835-6.224 2 2 0 1 1 3.083-2.548 134.498 134.498 0 0 1 4.983 6.415z" fill="#EFEDF8"/>
    <path d="M305.3 165.855a2 2 0 1 1-2.756 2.9 130.802 130.802 0 0 0-5.874-5.255 2 2 0 0 1 2.576-3.06 134.801 134.801 0 0 1 6.054 5.415z" fill="#E1DBF1"/>
    <path d="M127.147 160.108a2 2 0 0 1 2.565 3.07 130.728 130.728 0 0 0-5.894 5.233 2 2 0 1 1-2.745-2.91 134.728 134.728 0 0 1 6.074-5.393z" fill="#C3B8E3"/>
    <path d="M109.98 177.303a2 2 0 0 1 3.075 2.56 130.648 130.648 0 0 0-4.858 6.206 2 2 0 0 1-3.223-2.37 134.648 134.648 0 0 1 5.007-6.396z" fill="#E1DBF1"/>
    <path d="M96.147 197.37a2 2 0 1 1 3.486 1.962 129.715 129.715 0 0 0-3.655 6.982 2 2 0 0 1-3.599-1.747 133.715 133.715 0 0 1 3.768-7.197z" fill="#EFEDF8"/>
    <path d="M86.174 219.631a2 2 0 1 1 3.784 1.295 128.962 128.962 0 0 0-2.32 7.527 2 2 0 1 1-3.857-1.06c.72-2.614 1.517-5.202 2.393-7.762z" fill="#E1DBF1"/>
    <path d="M80.45 243.199a2 2 0 0 1 3.957.586c-.384 2.593-.69 5.203-.918 7.826a2 2 0 0 1-3.985-.346c.234-2.703.55-5.393.946-8.066z" fill="#C3B8E3"/>
    <path d="M401.715 251.904a2 2 0 1 1-3.994.222c-.146-2.639-.35-5.27-.61-7.893a2 2 0 1 1 3.98-.395c.266 2.68.474 5.369.624 8.066z" fill="#EFEDF8"/>
    <path d="M398.795 227.82a2 2 0 1 1-3.931.74 181.586 181.586 0 0 0-1.631-7.74 2 2 0 0 1 3.895-.91c.613 2.622 1.168 5.26 1.667 7.91z" fill="#C3B8E3"/>
    <path d="M392.77 204.344a2 2 0 1 1-3.802 1.246 181.847 181.847 0 0 0-2.626-7.462 2 2 0 0 1 3.744-1.41c.95 2.522 1.844 5.065 2.683 7.626z" fill="#EFEDF8"/>
    <path d="M383.718 181.81a2 2 0 1 1-3.606 1.73 182.837 182.837 0 0 0-3.576-7.06 2 2 0 0 1 3.529-1.884 186.837 186.837 0 0 1 3.653 7.214z" fill="#E1DBF1"/>
    <path d="M371.86 160.705a2 2 0 1 1-3.353 2.18 183.785 183.785 0 0 0-4.455-6.538 2 2 0 1 1 3.256-2.323 187.784 187.784 0 0 1 4.552 6.681z" fill="#EFEDF8"/>
    <path d="M357.351 141.265a2 2 0 1 1-3.044 2.595 184.16 184.16 0 0 0-5.26-5.91 2 2 0 0 1 2.931-2.723 188.16 188.16 0 0 1 5.373 6.038z" fill="#E1DBF1"/>
    <path d="M340.444 123.84a2 2 0 1 1-2.685 2.964 183.772 183.772 0 0 0-5.979-5.184 2 2 0 1 1 2.555-3.078 187.77 187.77 0 0 1 6.11 5.297z" fill="#C3B8E3"/>
    <path d="M321.434 108.742a2 2 0 0 1-2.28 3.287 182.814 182.814 0 0 0-6.6-4.369 2 2 0 1 1 2.135-3.383c2.28 1.44 4.529 2.928 6.745 4.465z" fill="#E1DBF1"/>
    <path d="M300.633 96.238a2 2 0 0 1-1.833 3.555 181.829 181.829 0 0 0-7.11-3.473 2 2 0 1 1 1.677-3.631 185.83 185.83 0 0 1 7.266 3.549z" fill="#EFEDF8"/>
    <path d="M136.597 92.72a2 2 0 0 1 1.68 3.63 182.722 182.722 0 0 0-7.11 3.48 2 2 0 1 1-1.835-3.554 186.722 186.722 0 0 1 7.265-3.556z" fill="#C3B8E3"/>
    <path d="M115.32 104.296a2 2 0 1 1 2.134 3.383 183.706 183.706 0 0 0-6.602 4.369 2 2 0 0 1-2.28-3.288 187.706 187.706 0 0 1 6.747-4.464z" fill="#EFEDF8"/>
    <path d="M95.68 118.544a2 2 0 1 1 2.553 3.08 184.157 184.157 0 0 0-5.981 5.18 2 2 0 0 1-2.683-2.967c1.999-1.808 4.036-3.573 6.111-5.293z" fill="#E1DBF1"/>
    <path d="M78.04 135.2a2 2 0 0 1 2.929 2.725c-1.797 1.93-3.552 3.9-5.264 5.905a2 2 0 0 1-3.042-2.597c1.749-2.05 3.542-4.06 5.378-6.033z" fill="#EFEDF8"/>
    <path d="M62.681 154.008a2 2 0 1 1 3.256 2.324 182.928 182.928 0 0 0-4.457 6.538 2 2 0 0 1-3.353-2.182c1.47-2.26 2.988-4.487 4.554-6.68z" fill="#E1DBF1"/>
    <path d="M49.895 174.632a2 2 0 0 1 3.53 1.882 181.912 181.912 0 0 0-3.57 7.062 2 2 0 1 1-3.609-1.727 185.912 185.912 0 0 1 3.649-7.217z" fill="#C3B8E3"/>
    <path d="M39.934 196.656a2 2 0 1 1 3.744 1.408 181.556 181.556 0 0 0-2.622 7.465 2 2 0 1 1-3.802-1.243 185.556 185.556 0 0 1 2.68-7.63z" fill="#E1DBF1"/>
    <path d="M32.898 219.88a2 2 0 0 1 3.896.907 182.728 182.728 0 0 0-1.628 7.744 2 2 0 1 1-3.932-.738 186.728 186.728 0 0 1 1.664-7.913z" fill="#EFEDF8"/>
    <path d="M28.936 243.814a2 2 0 0 1 3.98.398 186.235 186.235 0 0 0-.594 7.46l-.025.44a2 2 0 1 1-3.994-.228l.027-.45c.151-2.55.353-5.09.606-7.62z" fill="#E1DBF1"/>
    <path d="M183.395 149.34l-22.82 3.938a5.6 5.6 0 0 1-6.349-7.015L164.843 108a5.6 5.6 0 0 1 3.97-3.918l3.44-.907a148.5 148.5 0 0 0-.175 4.183l-2.246.592a1.6 1.6 0 0 0-1.135 1.12l-10.616 38.262a1.6 1.6 0 0 0 1.814 2.005l20.588-3.554a42.931 42.931 0 0 0 2.912 3.556zm63.196-.007a42.81 42.81 0 0 0 2.905-3.558l20.632 3.562a1.6 1.6 0 0 0 1.814-2.005l-10.617-38.263a1.6 1.6 0 0 0-1.134-1.12l-2.238-.589a157.73 157.73 0 0 0-.146-4.175l3.403.897a5.6 5.6 0 0 1 3.97 3.918l10.616 38.263a5.6 5.6 0 0 1-6.349 7.015l-22.856-3.945z" fill="#EEE" fill-rule="nonzero"/>
    <path d="M174.068 107.765a2 2 0 0 1-4-.102c.07-2.722.212-5.42.426-8.093a2 2 0 0 1 3.987.318 145.785 145.785 0 0 0-.413 7.877zm1.395-16.71a2 2 0 0 1-3.96-.566c.386-2.697.845-5.362 1.376-7.995a2 2 0 0 1 3.921.79c-.515 2.559-.962 5.15-1.337 7.771zm3.373-16.415a2 2 0 0 1-3.861-1.044 137.195 137.195 0 0 1 2.349-7.772 2 2 0 1 1 3.793 1.27 133.195 133.195 0 0 0-2.281 7.546zm5.378-15.845a2 2 0 1 1-3.697-1.526 129.122 129.122 0 0 1 3.335-7.411 2 2 0 0 1 3.594 1.756 125.122 125.122 0 0 0-3.232 7.181zm59.458-7.243a2 2 0 1 1 3.644-1.649c1.1 2.433 2.142 4.935 3.12 7.5a2 2 0 1 1-3.739 1.424 129.454 129.454 0 0 0-3.025-7.275zm5.911 15.676a2 2 0 1 1 3.823-1.176c.788 2.562 1.511 5.17 2.166 7.82a2 2 0 0 1-3.884.958 140.379 140.379 0 0 0-2.105-7.602zm3.97 16.299a2 2 0 0 1 3.935-.718c.482 2.639.896 5.31 1.241 8.011a2 2 0 1 1-3.967.507 147.83 147.83 0 0 0-1.209-7.8zm2.077 16.675a2 2 0 1 1 3.99-.272 159.08 159.08 0 0 1 .346 8.107 2 2 0 1 1-3.999.072l-.007-.37c-.05-2.533-.16-5.045-.33-7.537zm.294 16.811a2 2 0 0 1 3.998.119c-.07 2.366-.187 4.644-.35 6.822-.035.452-.074.886-.119 1.318a2 2 0 1 1-3.978-.415c.04-.394.076-.79.105-1.174.162-2.146.276-4.363.344-6.67zm-2.232 16.24a2 2 0 0 1 3.803 1.24 44.429 44.429 0 0 1-3.337 7.684 2 2 0 1 1-3.503-1.932 40.43 40.43 0 0 0 3.037-6.992zm-7.936 14.01a2 2 0 0 1 3.021 2.62 44.893 44.893 0 0 1-6.054 5.786 2 2 0 0 1-2.482-3.137 40.893 40.893 0 0 0 5.515-5.27zm-12.82 9.881a2 2 0 1 1 1.764 3.59 44.452 44.452 0 0 1-7.832 2.97 2 2 0 1 1-1.06-3.856 40.452 40.452 0 0 0 7.128-2.704zm-15.526 4.084a2 2 0 0 1 .232 3.993 45.228 45.228 0 0 1-8.368-.289 2 2 0 1 1 .51-3.967 41.161 41.161 0 0 0 7.626.263zm-15.97-2.246a2 2 0 0 1-1.33 3.772 44.64 44.64 0 0 1-7.601-3.516 2 2 0 1 1 2.012-3.457 40.64 40.64 0 0 0 6.92 3.201zm-13.842-8.272a2 2 0 0 1-2.689 2.961 44.98 44.98 0 0 1-5.648-6.18 2 2 0 1 1 3.191-2.412 40.98 40.98 0 0 0 5.146 5.63zm-9.606-13.06a2 2 0 0 1-3.63 1.682 44.515 44.515 0 0 1-2.79-7.897 2 2 0 1 1 3.88-.973 40.515 40.515 0 0 0 2.54 7.188zm-3.75-15.626a2 2 0 0 1-3.993.224 163.12 163.12 0 0 1-.245-8.096 2 2 0 0 1 4-.026c.018 2.752.097 5.384.238 7.898z" fill="#EEE" fill-rule="nonzero"/>
    <g transform="translate(200.523 142.14)">
      <ellipse fill="#FEE1D3" cx="3" cy="2.987" rx="3" ry="2.987"/>
      <ellipse fill="#FDC4A8" cx="15" cy="2.987" rx="3" ry="2.987"/>
      <ellipse fill="#FC6D26" cx="27" cy="2.987" rx="3" ry="2.987"/>
    </g>
    <path d="M215.5 48.516c9.331 0 18.165-1.56 25.306-4.354C232.536 28.315 221.782 17 217.003 17c-2.033 0-6.24 2.667-10.884 7.336-5.097 5.125-10.257 12.091-14.8 20.25 6.944 2.53 15.342 3.93 24.181 3.93zm-28.789-3.83C196.401 26.471 209.798 13 217.003 13c7.033 0 19.342 13.176 28.356 31.286a2 2 0 0 1-.98 2.72c-7.983 3.539-18.14 5.51-28.879 5.51-10.248 0-19.972-1.795-27.79-5.044a2 2 0 0 1-.999-2.786z" fill="#EEE" fill-rule="nonzero"/>
    <path d="M216 104.578c8.84 0 16-7.127 16-15.91 0-8.783-7.16-15.91-16-15.91s-16 7.127-16 15.91c0 8.783 7.16 15.91 16 15.91zm0 4c-11.046 0-20-8.914-20-19.91s8.954-19.91 20-19.91 20 8.914 20 19.91-8.954 19.91-20 19.91z" fill="#E1DBF1" fill-rule="nonzero"/>
    <path d="M216 94.623c3.318 0 6-2.67 6-5.955s-2.682-5.955-6-5.955-6 2.67-6 5.955 2.682 5.955 6 5.955zm0 4c-5.523 0-10-4.457-10-9.955s4.477-9.955 10-9.955 10 4.457 10 9.955-4.477 9.955-10 9.955z" fill="#6B4FBB" fill-rule="nonzero"/>
    <g fill-rule="nonzero">
      <path d="M392 115a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm0 4a9 9 0 1 1 0-18 9 9 0 0 1 0 18z" fill="#6B4FBB"/>
      <path d="M39 126a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 4a7 7 0 1 1 0-14 7 7 0 0 1 0 14z" fill="#E1DBF1"/>
      <path d="M86 53a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm0 4a9 9 0 1 1 0-18 9 9 0 0 1 0 18z" fill="#C3B8E3"/>
      <path d="M345 35a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 4a7 7 0 1 1 0-14 7 7 0 0 1 0 14z" fill="#E1DBF1"/>
    </g>
    <path d="M207 170.306a2 2 0 0 1 4 0c0 4.696-.418 14.073-.942 16.637a2 2 0 0 1-2.345 1.562 14.08 14.08 0 0 0-2.713-.263 14.006 14.006 0 0 0-13.589 10.617 2 2 0 0 1-2.538 1.427 22.99 22.99 0 0 0-6.873-1.044c-12.703 0-23 10.298-23 23a2 2 0 0 1-2 2c-12.703 0-23 10.298-23 23 0 1.56.155 3.1.46 4.602a2 2 0 1 1-3.92.796 27.115 27.115 0 0 1-.54-5.398c0-14.262 11.058-25.941 25.068-26.932.99-14.01 12.67-25.068 26.932-25.068 2.085 0 4.139.237 6.133.7a18.01 18.01 0 0 1 18.247-11.648c.346-3.576.62-10.39.62-13.988zm92 76.936c0 1.828-.182 3.634-.54 5.398a2 2 0 1 1-3.92-.796c.305-1.502.46-3.042.46-4.602 0-12.702-10.297-23-23-23a2 2 0 0 1-2-2c0-12.702-10.297-23-23-23a22.91 22.91 0 0 0-9.426 2.013 2 2 0 0 1-2.79-1.475c-1.175-6.632-6.968-11.538-13.784-11.538-.313 0-.624.01-.933.03a2 2 0 0 1-2.089-1.585c-.544-2.598-.978-12-.978-16.687a2 2 0 0 1 4 0c0 3.672.298 10.734.668 14.254 7.652.281 14.192 5.366 16.473 12.476a26.965 26.965 0 0 1 8.859-1.488c14.262 0 25.941 11.058 26.932 25.068 14.01.99 25.068 12.67 25.068 26.932zm-65.085 1.454a2 2 0 1 1-3.863 1.036c-1.93-7.202-9.333-11.476-16.534-9.546a2 2 0 1 1-1.036-3.864c9.336-2.501 18.932 3.039 21.433 12.374zm17.625-21.703a2 2 0 0 1-3.073 2.56 13.5 13.5 0 0 0-13.875-4.404 2 2 0 0 1-1.035-3.863 17.5 17.5 0 0 1 17.983 5.707zm-78.214 6.962c2.502-9.336 12.098-14.876 21.433-12.375a2 2 0 0 1-1.035 3.864c-7.202-1.93-14.604 2.344-16.534 9.546a2 2 0 0 1-3.864-1.035z" fill="#EEE" fill-rule="nonzero"/>
  </g>
</svg>
    <strong class="d-block text-center my-3">No projects found</strong>
    <div id="content" class="mx-auto row">
      <div class="callout p-2 columns">
       <svg xmlns="http://www.w3.org/2000/svg" width="78" height="82" viewBox="0 0 78 82"><g fill="none" fill-rule="evenodd"><path fill="#F9F9F9" d="M2.12 42c-.08.99-.12 1.99-.12 3 0 20.435 16.565 37 37 37s37-16.565 37-37c0-1.01-.04-2.01-.12-3C74.353 61.032 58.425 76 39 76S3.647 61.032 2.12 42z"/><path fill="#EEE" fill-rule="nonzero" d="M39 78C17.46 78 0 60.54 0 39S17.46 0 39 0s39 17.46 39 39-17.46 39-39 39zm0-4c19.33 0 35-15.67 35-35S58.33 4 39 4 4 19.67 4 39s15.67 35 35 35z"/><path fill="#E1DBF2" fill-rule="nonzero" d="M30 24c-2.21 0-4 1.79-4 4v22c0 2.21 1.79 4 4 4h18c2.21 0 4-1.79 4-4V28c0-2.21-1.79-4-4-4H30zm0-4h18c4.418 0 8 3.582 8 8v22c0 4.418-3.582 8-8 8H30c-4.418 0-8-3.582-8-8V28c0-4.418 3.582-8 8-8z"/><path fill="#6B4FBB" d="M33 30h8c1.105 0 2 .895 2 2s-.895 2-2 2h-8c-1.105 0-2-.895-2-2s.895-2 2-2zm0 7h12c1.105 0 2 .895 2 2s-.895 2-2 2H33c-1.105 0-2-.895-2-2s.895-2 2-2zm0 7h12c1.105 0 2 .895 2 2s-.895 2-2 2H33c-1.105 0-2-.895-2-2s.895-2 2-2z"/></g></svg>

        <span class="d-block">Create a new project and publish it to GitLab</span>
        <button class="button alternative my-2" @click="newProject">Create a new project</button>
      </div>
      <div class="callout p-2 columns">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
          <g fill="none" fill-rule="evenodd">
            <path fill="#F9F9F9" d="M31.526 21.774c.152.38.266.78.339 1.198l.005.028h-.13l-.214-1.226zM69 30.682c.632.95 1 2.091 1 3.318v6.08c2.86 5.48 2.867 12.028 0 17.41v3.267l7.255 7.255a3 3 0 0 1 0 4.243l-1.414 1.414a3 3 0 0 1-4.243 0l-4.519-4.518c-.9.539-1.953.849-3.079.849H12a6 6 0 0 1-6-6v-1.682A5.994 5.994 0 0 0 11 65h52a6 6 0 0 0 6-6V30.682z"/>
            <path fill="#EEE" fill-rule="nonzero" d="M31.74 25a2 2 0 0 1-1.971-1.657l-.875-5.028A4 4 0 0 0 24.954 15H11a4 4 0 0 0-4 4v40a4 4 0 0 0 4 4h52a4 4 0 0 0 4-4V29a4 4 0 0 0-4-4H31.74zm1.681-4H63a8 8 0 0 1 8 8v30a8 8 0 0 1-8 8H11a8 8 0 0 1-8-8V19a8 8 0 0 1 8-8h13.953a8 8 0 0 1 7.882 6.63l.586 3.37z"/>
            <path fill="#E1DBF1" d="M60.991 56.82l1.414-1.414a3 3 0 0 1 4.243 0l9.9 9.9a3 3 0 0 1 0 4.242l-1.415 1.414a3 3 0 0 1-4.242 0l-9.9-9.9a3 3 0 0 1 0-4.242z"/>
            <path fill="#6B4FBB" fill-rule="nonzero" d="M66.294 59.295c-7.224 7.225-18.938 7.225-26.163 0-7.224-7.225-7.224-18.938 0-26.163 7.225-7.225 18.939-7.225 26.163 0 7.225 7.225 7.225 18.938 0 26.163zm-4.95-4.95c4.492-4.49 4.492-11.772 0-16.263-4.49-4.491-11.772-4.491-16.263 0-4.49 4.49-4.49 11.772 0 16.263 4.491 4.491 11.773 4.491 16.264 0z"/>
          </g>
        </svg>

        <span class="d-block">Add an existing project on your computer and publish it to GitLab</span>
        <button class="button alternative my-2" @click="addLocalProject">Add a local project</button>
      </div>
      <div class="callout p-2 columns">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
          <g fill="none" fill-rule="evenodd">
            <path fill="#F9F9F9" d="M67 66v5a6 6 0 0 1-6 6H19a6 6 0 0 1-6-6v-5a6 6 0 0 0 6 6h42a6 6 0 0 0 6-6z"/>
            <path fill="#EEE" fill-rule="nonzero" d="M44 6v4H19a4 4 0 0 0-4 4v52a4 4 0 0 0 4 4h42a4 4 0 0 0 4-4V14a4.002 4.002 0 0 0-3-3.874V6.062c3.946.492 7 3.858 7 7.938v52a8 8 0 0 1-8 8H19a8 8 0 0 1-8-8V14a8 8 0 0 1 8-8h25z"/>
            <path fill="#E1DBF1" d="M55.142 41.9l-5.657-5.657a2 2 0 1 1 2.829-2.829l7.07 7.071a2 2 0 0 1 0 2.829l-7.07 7.07a2 2 0 1 1-2.829-2.828l5.657-5.657zm-29.485 0l5.657 5.656a2 2 0 1 1-2.829 2.829l-7.07-7.071a2 2 0 0 1 0-2.829l7.07-7.07a2 2 0 1 1 2.829 2.828l-5.657 5.656z"/>
            <path fill="#6B4FBB" d="M35 44a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm6 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm6 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
            <path fill="#EFEDF8" d="M47 2h12a3 3 0 0 1 3 3v19.91a1.5 1.5 0 0 1-2.308 1.265l-5.81-3.714a1.5 1.5 0 0 0-1.605-.006l-5.98 3.753A1.5 1.5 0 0 1 44 24.937V5a3 3 0 0 1 3-3z"/>
            <path fill="#6B4FBB" fill-rule="nonzero" d="M48 20.416l2.15-1.35a5.5 5.5 0 0 1 5.886.025L58 20.346V6H48v14.416zM47 2h12a3 3 0 0 1 3 3v19.91a1.5 1.5 0 0 1-2.308 1.265l-5.81-3.714a1.5 1.5 0 0 0-1.605-.006l-5.98 3.753A1.5 1.5 0 0 1 44 24.937V5a3 3 0 0 1 3-3z"/>
          </g>
        </svg>

        <span class="d-block">Clone an existing project from GitLab to your computer</span>
        <button class="button alternative my-2" @click="cloneProject">Clone a project</button>
      </div>
    </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  name: 'no-projects',
  components: {},
  data () {
    return {}
  },
  computed: {
    // ...mapGetters(['showCommit', 'currentProject'])
  },
  methods: {
    newProject () {
      this.showModal('create')
    },
    addLocalProject () {
      this.showModal('addLocalRepo')
    },
    cloneProject () {
      this.showModal('clone')
    },
    ...mapActions(['showModal'])
  }
}
</script>
<style lang="scss">
  #no-projects {
    height: 100%;
    background: white;
    
    #content {
      width: 80%;
      .callout {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        span {
          font-size: 10pt;
        }
        &:not(:last-child) {
          border-right: 1px solid #e6e6e6;
        }
      }

    }
  }
</style>